export JWT_SECRET="umHaZWUlDh0M6BJyAKkha0ullZoZtrdjq1LHLNKu3NQEnFtNwzXrKXeYnFed6DB1ev9ASxuBxIcLzyUdd40HAg=="
export PORT=8080
export DATABASE_URL="postgres://postgres:test123@localhost/postgres?sslmode=disable"
export GIN_MODE=debug
